<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner" class="banner">

    <div>
        <h1 class="title-gifts-list"> ADD A GIFT</h1>
    </div>
</div>
{{!-- <a href="/gifts">Back to gifts list</a> --}}
{{!-- <a href="/">Home</a> --}}
<div>
<hr>
<form action="/gifts/create" method="POST" enctype="multipart/form-data">

<label for="name">Name</label>

<input type="text" name="name" id="name" placeholder="Add the gift name">


<br>
<label for="price">Price</label>
<input type="number" name="price" id="price" placeholder="Add the price or price range here">


<br>
<label for="Description">Description</label>
<input type="text" name="Description" id="Description" placeholder="Add a description">

<br>
<label for="Picture">Picture</label>
<input type="file" name="Picture" id="Gift-Picture">

<br>
<label for="purchaseLink">Buy it</label>
<input type="text" name="purchaseLink" id="purchaseLink" placeholder="Add a link here">
{{!--  --}}
<br>
<label for="assignTo">Assign gift to</label>
<select name="assignTo" id="assignTo" multiple>
    {{#each birthdays}}

    <option value="{{this._id}}">{{this.friendName}} {{this.friendLastName}}</option>

    {{/each}}


</select>
{{!--  --}}
<br>
<button class="gift-create-btn button">CREATE</button>

</form>
</div>