<div>
  <header>
    <nav class="flex-row">
      <div class="flex-row">
        <div class="flex-row">
          <a href="/">
            <h2 class="logo-item">APP-NIVERSARY</h2>
          </a>
        </div>
        <ul class="flex-row">
            {{!-- Note: uncomment the #IF when isLoggedIn variable is created --}}
          {{#if isLoggedIn}}
          <li>
            <a href="/birthdays">My birthdays</a>
          </li>
          <li>
            <a href="/birthday/create">Create new birthday</a>
          </li>
          <li>
            <a href="/gifts">My gift list</a>
          </li>
          <li>
            <a href="/gifts/create">Create new gift</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="flex-row">
        {{#unless isLoggedIn}}
        <a href="">
          <a href="/signin">
          <span class="sign-up">Sign in</span>
        </a>
        <a href="/signup">
          <span class="sign-up">Sign up</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/signout">
          <span>Log out</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </header>
</div>