<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" class="banner">

    <div>
        <h1 class="title-gifts-list">WELCOME TO APP'NIVERSARY!</h1>
    </div>
</div>

{{!-- {{#unless isLoggedIn}} --}}
<div class="welcome-message-wrapper">
    <div class="welcome-message">

        <div>
            <p>APP'niversary gives you all the tools you need to always remember the birthdays of the people you care
                for and gather the best gifts ideas for them.</p>
            {{!-- SUGGESTION de modif plus courte : APP'niversary helps you keeping track of all your birthdays and gift
            ideas for the people you care for! --}}
        </div>

        <div class="argument-wrapper">
            <div class="argument-box" id="red">
                <p><b>Create reminders</b></p>
                <img src="/img/reminder.png" alt="">
            </div>
            <div class="argument-box" id="blue">
                <p><b>List your gifts ideas</b></p>
                <img src="/img/gift.png" alt="">
            </div>
            <div class="argument-box" id="green">
                <p><b>Assign gifts to relatives</b></p><img src="/img/givegift.png" alt="hand-with-heart">
            </div>
        </div>

        <div class="never-again">
            <p class="never">Never forget a birthday again!</p>
        </div><br>
        {{#unless isLoggedIn}}
        <div class="button"><a href="/signup">Sign up</a></div>
        <p class="never flex-horizontal">Already have an account?&nbsp;<a href="/signin">Sign in</a></p>
        {{/unless}}
    </div>
</div>
{{!-- {{/unless}} --}}