<h1 class="home-title">{{title}}</h1>
<p class="welcome">Welcome to {{title}}</p>

<div class="home-message">
<p> Don't forget your friends birthdays anymore! </p>
<p> Create gifts wishlists for your friends</p>
<p> Do not let pass your best friend's birthdays</p>
</div>