<div class="banner-gifts-list">
  <img src="/img/thinner-ban.jpg" alt="banner" id="banner">

  <div>
    <h1 class="title-gifts-list"> CREATE AN ACCOUNT</h1>
  </div>
</div>

<div class="welcome-message">
<section class="sign form-container">
  <header class="form-header">
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signup" id="form_user">
    <div>
      <label for="firstname">First name*</label>
      <input name="name" id="name" type="text" class="input-text input" placeholder="Your first name" required>
    </div>
    <div>
      <label for="lastname">Last name*</label>
      <input name="lastname" id="lastname" type="text" class="input-text input" placeholder="Your last name" required>
    </div>
    <div>
      <label for="email">E-mail*</label>
      <input name="email" id="email" type="email" class="input-text input" placeholder="Your e-mail" required>
    </div>
    <div>
      <label for="password">Password*</label>
      <input name="password" id="password" type="password" class="input-text input" placeholder="Your password"
        required>
    </div>
    <div>
      <label for="profile-picture">Profile picture</label>
      <input type="file" name="picture" id="profile-picture" />
    </div>
    <p class="asterisk">* Mandatory fields</p>
    <button class="button-primary white">Create account</button>
  </form>
  <p class="form-sub-infos flex-horizontal">Already have an account ?&nbsp;
    <a href="/signin" class="button-link-form">Sign in</a>
  </p>
</section>

</div>