
    <div class="banner-gifts-list">
      <img src="/img/blue-banner.jpg" alt="banner" id="banner">

      <div>
        <h1 class="title-gifts-list"> WELCOME BACK!</h1>
      </div>
    </div>

<div class="welcome-message">
    
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signin" id="form_user">
    <div>
      <label for="email">E-mail</label>
      <input name="email" id="email" type="email" placeholder="name@mail.com" required value="foo@foo.foo">
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="password" required value="foo">
    </div>
    <div class="centered-item">
    <button class="login-btn">LOG IN</button>
    </div>
    <p>Don't have an account yet ? <a href="/signup" class="button">SIGN UP</a></p>
  </form>
  
  
</div>