<section>
  <header>
    <div class="banner-gifts-list">
      <img src="/img/blue-banner.jpg" alt="banner" id="banner">

      <div>
        <h1 class="title-gifts-list"> WELCOME BACK!</h1>
      </div>
    </div>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signin" id="form_user">
    <div>
      <label for="email">E-mail</label>
      <input name="email" id="email" type="email" placeholder="name@mail.com" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="password" required>
    </div>
    <button class="button">Log in</button>
  </form>
  <p>Don't have an account yet ? <a href="/signup" class="button">Sign up</a></p>
</section>