.button, button {
    width: 200px;
    padding: 8px ;
    background-color:  #a2c4c9;
    border: 0px;
    color: #2d3f3e;
    text-align: center;
}

.button:hover {
    background-color: #2d3f3e;
    /* color: white; */
    font-size: 16px;
    animation: fondu-button 2s, fondu-texte 1s;
    /* animation-duration: 1s; */
}

.text-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#btnbirthdaylist {
    margin-bottom: 30px;
}