.button {
    width: 200px;
    padding: 8px ;
    background-color:  #a2c4c9;
    /* border-radius: .3rem; */
    border: solid 1px white;
<<<<<<< HEAD
    color: #2d3f3e;
=======
    /* border: solid 1px #83b4b1; */
    /* display: flex;
    justify-content: center; */

>>>>>>> b065b624238929b55e1fc4b1c6de00113808b2fd
}

.button:hover {
    background-color: #2d3f3e;
    color: white;
    font-size: 16px;
<<<<<<< HEAD
    animation-name: fondu;
    animation-duration: 1s;
=======
}

.text-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#btnbirthdaylist {
    margin-bottom: 30px;
>>>>>>> b065b624238929b55e1fc4b1c6de00113808b2fd
}