.gift-picture {
    width: 180px;
    height: 180px;
    border: solid white 2px;
    margin: 10px;
}

.gift-content-container {
    display: flex;
    flex-direction: row;
    color:#000000 ;
    background-color: #a2c4c9;
    margin: 10px 0;
}

.gifts-list {

}

.gift-title {
    padding: 10px 0 0 0;
    margin: 0;
}

.gift-btn {
    width: 100px;
}

.text-gift-container {
}