@import './nav.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

body {
  padding: 50px;
  font: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: #cfe9ce;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: white;
}

.home-title {
  text-align: center;
  font-size: 90px;
}
.welcome {
  color: black;
  text-align: center;
  font-size: 50px;
}

.home-message {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
